ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
  color: #212121;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logologo:hover, .logologo:focus {
  color: #2196f3;
  background-color: #ffff;
}

.header-logo {
  color: #2196f3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.nav .nav__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list-item {
  position: relative;
}

.nav-list-item .nav-list-item__nav-link {
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav-list-item:hover .nav-list-item .nav-list-item__nav-link,
nav-list-item:focus .nav-list-item .nav-list-item__nav-link {
  color: #2196f3;
  background: #ffff;
}

.nav-list-item .nav-list-item__nav-link-active {
  color: #2196f3;
}

.nav-list-item::after .nav-list-item .nav-list-item__nav-link-active {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 45px;
}

.nav-list-item + .nav-list-item {
  margin-left: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts-contact {
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.02em;
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-contacthover, .contacts-contactfocus {
  fill: #2196f3;
  color: #2196f3;
}

.contacts-contact__icon-contact {
  margin-right: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  fill: currentColor;
}

.baner {
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
}

.baner-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.baner-title {
  margin-bottom: 30px;
  color: #ffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.baner-button {
  width: 200px;
  height: 50px;
  font-family: roboto;
  background-color: #2196f3;
  color: #ffff;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffff;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal__close__close-img {
  width: 11px;
  height: 11px;
}

.modal__closehover {
  fill: #2196f3;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.baner-button {
  width: 200px;
  height: 50px;
  font-family: roboto;
  background-color: #2196f3;
  color: #ffff;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffff;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal__close__close-img {
  width: 11px;
  height: 11px;
}

.modal__closehover {
  fill: #2196f3;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea {
  resize: none;
}

.form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-items > label {
  margin-bottom: 4px;
}

.form-items-input {
  padding-left: 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-items-inputfocus {
  background: none;
  color: #212121;
  outline: 1px solid #2196f3;
}

.form-items-input:focus + .form-icon-img {
  fill: #2196f3;
}

#commit {
  widows: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 11px;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox__contract {
  margin-left: 5px;
  font-size: 14px;
  line-height: 24px;
  line-height: 146%;
  letter-spacing: 3%;
}

.form-checkbox__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-checkbox__span-checkbox {
  width: 16px;
  height: 15px;
  display: inline-block;
  background-color: #ffff;
  outline: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.form-checkbox__span-checkbox__span-img {
  width: 11px;
  height: 8px;
  margin-left: 3px;
  margin-top: 3px;
}

.form-checkbox > input {
  width: 16px;
  height: 15px;
}

.form-checkbox > label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

#checkbox:checked + .span-checkbox {
  background-color: #2196f3;
  outline: 0px;
  border-radius: 2px;
}

input {
  padding: 0;
  margin: 0;
}

textarea:focus {
  background: none;
  color: #212121;
  outline: 1px solid #2196f3;
}

label {
  left: 0;
}

.icon-form {
  position: relative;
}

.form-icon-img {
  position: absolute;
  bottom: 35%;
  left: 12px;
  background-position: center;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
  display: inline-block;
  width: 18px;
  height: 18px;
}

.send-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-button__form-button {
  padding: 10px 55px;
  margin-top: 20px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffff;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.send-button__form-buttonhover {
  cursor: pointer;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-list__skills-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #f5f4fa;
  justify-content: center;
  margin-bottom: 30px;
}

.skills-list__s-item {
  border-radius: 4px;
  width: 70px;
  height: 70px;
}

.skills-list__skills-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-list__skills-text {
  margin-top: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.skills-item + .skills-item {
  margin-left: 30px;
}

.what-we-do {
  padding-top: 0;
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what-we-do-list__what-we-do-img {
  position: relative;
}

.what-we-do-list__what-we-do-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.what-we-do-list__what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffff;
}
/*# sourceMappingURL=main.css.map */