/* Загальні налуштування для всієї сторінки */
:root {
  --text-color: #212121;
  --hover-color: #2196f3;
  --second-color: #757575;
  --background-color: #2f303a;
  --wait: #ffffff;
  --buttom-color: #f5f4fa;
  --icon-color: #afb1b8;
  --border-color: #eeeeee;
}

ul {
  padding: 0;
  margin: 0px;
  list-style-type: none;
}

body {
  font-family: "Roboto";
  color: var(--text-color);
}

h1,
h2,
h2,
p {
  margin: 0px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-box {
  display: flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-decor {
  color: var(--hover-color);
}

.logo:hover,
.logo:focus {
  color: var(--hover-color);
  background-color: var(--wait);
}

.nav {
  margin-left: 93px;
}
.nav-box {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}

.nav-list-item + .nav-list-item {
  margin-left: 50px;
}
.nav-list-item {
  position: relative;
}
.nav-link {
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
  background: var(--whait);
}

.nav-link-active {
  color: var(--hover-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}
.contacts-contact:hover,
.contacts-contact:focus {
  fill: var(--hover-color);
  color: var(--hover-color);
}
.contacts-contact {
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-color);
  letter-spacing: 0.02em;
  fill: var(--icon-color);

  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact {
  margin-right: 10px;
  align-items: baseline;
  fill: currentColor;
}
.nav-link-active::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;

  position: absolute;
  left: 0;
  top: 45px;
}

/* BANER SECTION */

.baner {
  background-color: var(--background-color);
  text-align: center;

  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
}

.baner-container {
  justify-content: center;
}

.baner-title {
  margin-bottom: 30px;

  color: var(--wait);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.baner-button {
  width: 200px;
  height: 50px;

  font-family: roboto;
  background-color: var(--hover-color);
  color: var(--wait);
  border: 0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
}

.modal {
  position: absolute;

  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%);
  background: var(--wait);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  background: var(--wait);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;

  cursor: pointer;
}
.close-img {
  width: 11px;
  height: 11px;
}
.close:hover {
  fill: var(--hover-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
label {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}
textarea {
  resize: none;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-items {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-items > label {
  margin-bottom: 4px;
}

.form-items-input {
  padding-left: 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-items-input:focus {
  background: none;
  color: var(--text-color);
  outline: 1px solid var(--hover-color);
}

.form-items-input:focus + .form-icon-img {
  fill: var(--hover-color);
}
.form-items-input:focus {
  outline: 1px solid var(--hover-color);
}
#commit {
  widows: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 11px;
}
#checkbox {
  appearance: none;
}

.span-checkbox {
  width: 16px;
  height: 15px;
  display: inline-block;
  background-color: var(--wait);
  outline: 2px solid var(--text-color);
  border-radius: 2px;
  margin-right: 8px;
}
.span-img {
  width: 11px;
  height: 8px;
  margin-left: 3px;
  margin-top: 3px;
}
.form-checkbox {
  display: flex;
  align-items: center;
}
#checkbox:checked + .span-checkbox {
  background-color: var(--hover-color);
  outline: 0px;
  border-radius: 2px;
}
.form-checkbox > input {
  width: 16px;
  height: 15px;
}

.form-checkbox > label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.contract {
  margin-left: 5px;
  font-size: 14px;
  line-height: 24px;
  line-height: 146%;
  letter-spacing: 3%;
}

.form-button {
  padding: 10px 55px;

  margin-top: 20px;

  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--wait);
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.form-button:hover {
  cursor: pointer;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0;
  margin: 0;
}

textarea:focus {
  background: none;
  color: var(--text-color);
  outline: 1px solid var(--hover-color);
}
label {
  left: 0;
}
.icon-form {
  position: relative;
}

.form-icon-img {
  position: absolute;
  bottom: 35%;
  left: 12px;
  background-position: center;

  transform: translatey(50%);

  display: inline-block;

  width: 18px;
  height: 18px;
}
/* SKILLS SECTION*/

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.skills-list {
  display: flex;
}

.skills-item + .skills-item {
  margin-left: 30px;
}

.skills-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-text {
  margin-top: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.skills-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: var(--buttom-color);
  justify-content: center;
  margin-bottom: 30px;
}

.s-item {
  border-radius: 4px;
  width: 70px;
  height: 70px;
}

/* WHAT WE DO SECTION */

.what-we-do {
  padding-top: 0px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-img + .what-we-do-img {
  margin-left: 30px;
}

.what-we-do-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.what-we-do-img {
  position: relative;
}

.what-we-do-poster {
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
}

.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wait);
}
/* WE SECTION */

.we {
  background-color: var(--buttom-color);
}

.we-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}

.we-list {
  display: flex;
}

.we-list-item + .we-list-item {
  margin-left: 30px;
}

.we-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--wait);
}

.we-block {
  padding: 30px 0;
}

.we-name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.we-proffesion {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.social {
  display: flex;
  justify-content: center;
}

.social-items + .social-items {
  margin-left: 10px;
}

.social-item {
  width: 20px;
  height: 20px;
}

.social-links {
  fill: #afb1b8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hover-color);
  fill: var(--wait);
}

.social-links:focus {
  fill: var(--wait);
  background-color: var(--hover-color);
}

/* CLIENT SECTION */

.client-logo {
  display: flex;
  justify-content: center;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  background: var(--whait);
  fill: var(--hover-color);
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-img {
  width: 106px;
  height: 60px;
}

/* FOOTER для всіх сторінок*/

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-blok {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  text-decoration: none;
  color: var(--wait);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-decor {
  color: var(--hover-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--hover-color);
}

address {
  margin-top: 20px;
}

.address-post {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wait);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email,
.address-tel {
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-footer + .item-footer {
  margin-top: 9px;
}
.address-email:hover,
.address-email:focus,
.address-tel:hover,
.address-tel:focus,
.address-post:hover,
.address-post:focus {
  color: var(--hover-color);
}

.join {
  margin-left: 70px;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--wait);
  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join-item + .join-item {
  margin-left: 10px;
}

.join-item {
  width: 44px;
  height: 44px;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--hover-color);
}

.join-img {
  width: 20px;
  height: 20px;
  fill: var(--wait);
}
.join-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe {
  margin-left: 93px;
}
.subscribe-cont {
  display: flex;
}
.subscribe-form {
  display: flex;
}
.subscribe-button {
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  color: var(--wait);
  border: 0;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}
.footer-cont {
  display: inline-block;
}
.subscribe-input:focus {
  border-color: var(--hover-color);
  color: var(--wait);
  outline: 1px solid var(--hover-color);
}
.subscribe-title {
  color: var(--wait);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* СТОРІНКА PORTFOLIO */

/* section buttons */

.buttons-button {
  border: 0;
  background-color: var(--buttom-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  min-width: 73px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-button:hover,
.buttons-button:focus {
  background-color: var(--hover-color);
  color: var(--wait);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item + .button-item {
  margin-left: 8px;
}

/* EXEMPLE SECTION*/

.exemple-text {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.exemples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);

  text-decoration: none;
}

.exemples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  text-decoration: none;
}

.exempel-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);

  text-decoration: none;
}
.examples-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.actions-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  width: 322px;
  height: 168px;
  color: var(--wait);
}
.overlay-actions {
  margin-left: 24px;
  margin-top: 63px;
}
.exemples-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  overflow: hidden;
}
.examples-link {
  list-style: none;
  text-decoration: none;
}
.examples-cont {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.examples-hover:hover .overlay-product {
  transform: translateX(0);
}
.exemples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
